@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    background: #EAF6F6;
    color: white;
    overflow: hidden;
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
}

header{
    font-size: 1.5rem;
    text-align: center;
    color: black;
}

form{
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form input, form button{
    padding: 0.5rem;
    font-size: 2rem;
    border: none;
    background: white;
    outline: none;
}

.bubbles img{
width: 50px;
animation: bubble 7s linear infinite;
}

@keyframes bubble {
    0%{
        transform: translateY(0);
        opacity: 0;
    }
    50%{
       
        opacity: 1;
    }
    70%{
       
        opacity: 1;
    }
    100%{
        transform: translateY(-90vh);
        opacity: 0;
    }
}

.bubbles img:nth-child(1){
    animation-delay: 2s;
    width: 25px;
}
.bubbles img:nth-child(2){
    animation-delay: 1s;
}
.bubbles img:nth-child(3){
    animation-delay: 3s;
    width: 25px;
}
.bubbles img:nth-child(4){
    animation-delay: 4.5s;
}
.bubbles img:nth-child(5){
    animation-delay: 3s;
    width: 30px;
}
.bubbles img:nth-child(6){
    animation-delay: 6s;
}
.bubbles img:nth-child(7){
    animation-delay: 6.5s;
    width: 20px;
}

.bubbles{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    bottom: -70px;
}

form button{
    color: #80bcf1;
    background: white;
    cursor: pointer;
    transition: all 0.3s ease;
}

form button:hover{
background: #80bcf1;
color: white;
}

.todo-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-list{
    min-width: 30%;
    list-style: none;
}

.todo{
    margin: 0.5rem;
    background: white;
    color: black;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.5s ease;
}

.todo li{
    flex: 1;
}
.todo-item{
    padding: 0rem 0.5rem;
}
.delete-btn,.completed-btn{
    border: none;
    color: white;
    background: #FF0063;
    padding: 0.6rem;
    cursor: pointer;
    font-size: 1rem;
}
.completed-btn{
    background: #66BFBF;
}

.material-icons-sharp{
    pointer-events: none;
}

.line-through{
    text-decoration: line-through;
    opacity: 0.5;
}

.fall{
    transform: translateY(8rem) rotateZ(20deg);
    opacity: 0;
}

select{
    appearance:none;
    outline: none;
    border: none;
    width: 10rem;
    color: #80bcf1;
    cursor: pointer;
    padding: 1rem;
}

.select{
   margin: 1rem; 
   position: relative;
   overflow: hidden;
}

.select::after{
    content: '\25BC';
    position: absolute;
    background: #80bcf1;
    top: 0;
    right: 0;
    padding: 1rem;
    pointer-events: none;
    transition: all 0.3s ease;
}

.select:hover:after{
    background: white;
    color: #80bcf1;
}

